node_modules/

StreamLoom/
streamloom/
StreamLoom.zip

.DS_Store
.env
.env.*
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

dist/
build/
coverage/
.cache/
.esbuild/

.vscode/
.idea/
*.iml

*.swp
*.swo
